:root{
    --vermelha: #e50914;
    --preta: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}

/*Game Principal*/

.filme-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url(/img/AC.jpg);
    
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 50px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 50%;
}

 .botao{
     background-color: rgba(0, 0, 0, .50);
     border: none;
     color: #ffffff;
     padding: 15px 20px 15px 20px;
     font-size: 12px;

     cursor: pointer;
     transition: .5s ease all;
 }

 .botao:nth-child(2){
     margin-left: 10px;
 }

 .botao:hover{
     background-color: #ffffff;
     color: #000;
 }

 .botao i{
     margin-left: 5px;
 }

 .item{
     width: 185px;
     height: 260px;
 }

 .owl-carousel{
     margin-left: 38px;
 }

 .box-filme{
     height: 100%;
     width: 100%;
     display: block;
 }

 .carousel-filmes{
     margin-top: 8px;
 }