@media screen and(max-width:730px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 290px;
        height: 60px;
    }
}


@media screen and (max-width:1000px){
    .descricao{
        width: 40%;
    }
}

@media screen and (min-width:1001px){
    .descricao{
        width: 75%;
    }
}